.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensure equal column widths */
    gap: 20px; /* Add spacing between grid items */
}

.searchFilters{
    display: flex;
    gap:10px;
}
.searchFilters select{
    width: 100%;
    border-radius: 5px;
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    .card {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
    }
}

@media screen and (max-width: 576px) {
    .card {
        grid-template-columns: 1fr; /* Single-column layout for smaller screens */
    }
    .searchFilters{
        flex-direction: column;
    }
    .searchFilters select{
        height: 40px;
    }
}
